html {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    font-size: 14px;
    color: #333;
    font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.header{
    background-color: #f5f5f6;
    line-height: 1;
    padding: 30px 0 26px;
}

.filter{
    width: 1100px;
    margin: 0 auto;
    margin-top: 26px;
    padding: 25px;
    padding-bottom: 14px;
    padding-top: 14px;
    background-color: #fbfbfb;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,0.2);
    font-size: 12px;
    line-height: 1;
    position: relative
}

.content{
    margin: 0 auto;
    margin-top: 26px;
    line-height: 1;
    width: 1150px;
    overflow: visible;
}

.HouseList {
    line-height: 1;
    margin-bottom: 36px
}

.HouseList li {
    position: relative;
    padding: 35px 0;
    border-bottom: 1px solid #f1f1f1;
    list-style: none;
}
.HouseList li .info {
    float: right;
    width: 640px;
    vertical-align: top;
    color: #616669;
    font-size: 14px;
    max-width: 640px;
}

.HouseList li .info .title {
    font-weight: bold;
    color: #394043;
    height: 22px;
    overflow: hidden;
    width: 500px;
}

.HouseList li .info .title a {
    float: left;
    max-width: 420px;
    text-decoration: none;
    font-size: 22px;
    color: #394043;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.HouseList li .info a {
    font-weight: 700;
    color: #394043;
    text-decoration: none;
}

.HouseList li .info a:visited {
    color: #9c9fa1
}

.HouseList li .info a:hover {
    color: #00ae66
}

.HouseList li .address a {
    /*font-weight: 700;*/
    color: #394043;
    text-decoration: none;
}

.HouseList li .address a:visited{
    color: #9c9fa1
}

.HouseList li .address a:hover{
    text-decoration: underline;
    color: #9c9fa1
}